<h1>Pokemon fight</h1>
<p>Combattez les pokemons de votre adversaire et remportez le tournoi!</p>

<p>Merci de choisir ou de créer une Aréne:</p>

<% @arenes.each do |arene| %>
  <%= link_to arene.name, arene_path(arene.id) %> - 
<% end %><br><hr><br>

<%= link_to "Creer une aréne", new_arene_path %>
